@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
  font-family:'Poppins',sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#eef3fb;
  color:#1f2937;
  min-height:100vh;
}

#root{
  min-height:100vh;
  width:100%;
}

/* Scrollbar */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#edf2f7;
}

::-webkit-scrollbar-thumb{
  background:#2563eb;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
  background:#1d4ed8;
}

/* Common Card */

.card{
  border:none !important;
  border-radius:20px !important;
  box-shadow:0 15px 35px rgba(0,0,0,.08) !important;
}

/* Inputs */

.form-control,
.form-select{
  border-radius:12px !important;
  padding:12px;
}

.form-control:focus,
.form-select:focus{
  border-color:#2563eb;
  box-shadow:0 0 12px rgba(37,99,235,.15);
}

/* Buttons */

.btn{
  border-radius:12px;
  font-weight:600;
}

/* Table */

.table{
  border-radius:15px;
  overflow:hidden;
}

.table thead{
  background:#2563eb;
  color:white;
}

.table tbody tr:hover{
  background:#f3f8ff;
  transition:.25s;
}

/* Images */

img{
  max-width:100%;
  display:block;
}

/* Links */

a{
  text-decoration:none;
}

/* Selection */

::selection{
  background:#2563eb;
  color:white;
}


.dashboard-card{
  border-radius:20px;
  transition:.3s;
}
.dashboard-card:hover .dashboard-icon{
    transform:scale(1.1);
}

.dashboard-icon{
    transition:.3s;
}


.dashboard-card:hover{
  transform:translateY(-8px);
  box-shadow:0 20px 45px rgba(0,0,0,.12)!important;
}

.dashboard-icon{
width:78px;
height:78px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:36px;
margin:auto;
margin-bottom:18px;
}

.dashboard-title{
font-size:18px;
font-weight:600;
color:#555;
}

.dashboard-value{
font-size:34px;
font-weight:700;
margin-top:10px;
}

.dashboard-card::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:5px;
background:#2563eb;
}
.dashboard-card .card-body{
    text-align:center;
    align-items:center;
}